* {
     margin: 0;
     padding: 0;
     font-family: "Josefin Sans", sans-serif;
}

.container {
     background: linear-gradient(135deg, #1e1e2f, #3a3a5f); /* Dark gradient */
     height: 100vh;
     width: 100%;
}

.container-todos {
     padding-top: 60px;
     display: grid;
     margin: 0 auto;
     width: 100%;
     max-width: 700px;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

header h1 {
     font-size: 30px;
     text-transform: uppercase;
     letter-spacing: 5px;
     color: #fff;
     font-weight: 500;
}

header img {
     width: 30px;
     height: 30px;
     margin-right: 10px;
}

.container-todos > input {
     padding: 10px;
     font-size: 16px;
     border: none;
     border-radius: 5px;
     background: hsl(237, 14%, 26%);
     max-width: 450px;
     width: 100%;
     margin: 10px auto;
     color: #73d96e;
     outline: none;
}

.todos {
     display: grid;
     align-items: center;
}

.todo {
     background: hsl(237, 14%, 26%);
     border-bottom: 2px solid hsl(237, 13%, 30%);
     padding: 20px;
     display: flex;
     align-items: center;
     cursor: pointer;
}

.todo > input {
     display: none;
}

.checkmark {
     width: 20px;
     height: 20px;
     border: 2px solid #ffffff;
     display: inline-block;
     position: relative;
     margin-right: 10px;
     cursor: pointer;
}

.todo > input:checked + .checkmark::after {
     content: "✔";
     position: absolute;
     left: 4px;
     top: -2px;
     font-size: 18px;
     color: #aba2a2;
}

.todos > .todo > h5 {
     font-size: 15px;
     color: #1ebc6f;
}

.tools-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
     background: hsl(237, 14%, 26%);
}

.tools-container > .items-left {
     color: #009688;
     font-size: 15px;
}

.filter > button {
     background: none;
     border: none;
     color: #009688;
     font-size: 15px;
     cursor: pointer;
     margin: 0 5px;
     transition: 0.5s ease;
}

.filter > button:hover {
     color: #4a90e2;
}

.tools-container > .clear {
     color: #009688;
     font-size: 15px;
     cursor: pointer;
     border: none;
     background: transparent;
     transition: 0.5s ease;
}

.tools-container > .clear:hover {
     color: #4a90e2;
}
